body{
    margin:0;
    /*font-family: 'Helvetica', sans-serif;*/	
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:#2e3638;
    color:#444444;
}
a {
    color:#2991d8;
    text-decoration: none;
    cursor:pointer;
}

.ad-placeholder {
    display: block;
    width: 100%;
}
h1{
    text-align:left;
    font-size:1.9em;
    font-weight:bold;
    padding-top:0px;
    padding-bottom:0.5em;
}

h2{
    text-align:left;
    padding-top:1em;
    font-size:1.4em;
    font-weight:300;

}
h3{
    font-size:1.2em;
    font-weight:bold;
    padding-top:0.5em;
}

.grid-info p{
    font-size:0.9em;
    text-align:left;
    font-weight:100;
    padding-top:5px;
}
.grid-info small{
    font-size: 11px;
    opacity: 0.6;
    text-align:left;
}
.captn small{
    font-size:0.95em;
    text-align:center;
    color:#ffffff;
    opacity: 1;
}
.ratings-icons-stars img
{
    width:70px;
    margin-top:-3px;
}
.movies-grid .movie-title 
{
    clear:both;
}
.movies-coming-soon .movies-grid .movie-title 
{
    clear:none;

}
.ratings-icons {
    color: #f39c12;
    font-size:14px;
    margin: 0;
}
.captn hr
{
    padding:0px;
    margin-top:5px;
    margin-bottom:5px;
}

.leaderboard {
    width: 728px;
    float: left;
}

.internalad {
    width: 286px;
    float: right;
}

.mobilead {
    display: none;
}

header .ad-placeholder {
    height: 90px;
    margin: 10px 0;
    overflow: hidden;
    text-align: center;
}

.container{
    padding: 0em 0px;
    max-width:1024px;
}
.top-nav{
    top:200px;
}
.top-nav .container{
    background-color:#5e7074;
    padding: 0px 10px 0 0;
    border-radius: 10px 10px 0 0;
    background: -moz-linear-gradient(top, #677a7c 18%, #4e585c 100%);
    background: -webkit-linear-gradient(top, #677a7c 18%,#4e585c 100%);
    background: linear-gradient(to bottom, #677a7c 18%,#4e585c 100%);
}


.error-movies
{
    margin-top:1.2em;
    font-weight:bold;
    font-size:1.3em;
    margin-bottom:17em;

}
@font-face {
    font-family: 'PT_Sans-Narrow-Web-Regular';
    src: url(../fonts/PT_Sans-Narrow-Web-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Engagement-Regular';
    src: url(../fonts/Engagement-Regular.ttf) format('truetype');
}
body a{
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;			   
}
p{
    margin:0;
}
.media-body p{
    margin:0;
    margin-bottom: 0.6em;
}

.theaters-listings p, .synopsis-showtimes p
{
    margin-bottom: 0em;
}
ul,label{
    margin:0;
    padding:0;
}
body a:hover{
    text-decoration:underline;
}
/*--header--*/

.header {
    padding: 1em 0;
    background-color: #2b2b2b;
}
#showtimeMenu1{
    width:100%;

}
#showtimeMovieMenu,.trailers_videos #dropdownMenu1{
    max-height: 35px !important;
}
/*.header-info p {
    font-size: 1.3em;
    color: #fff;
        margin-top: 0.3em;
}
.header-info img {
        margin-top: 0.8em;
        padding-bottom:0.2em;
        padding-left:0.5em;
}
.header-info p:before {
    content: '';
    background: url(../images/iconsprite.png)no-repeat -52px 1px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 11px;
}
*/


/*--search-button--*/
.nav-wrap {
    float: right;
}
form.navbar-form.navbar-right {
    margin: 0;
    padding: 0;
}
.form-group {
    position: relative;
}
.navbar-form .form-control {
    border: 0;
    border-radius: 20px 20px 20px 20px;
    box-shadow: none;
}
form.navbar-form.navbar-right input.form-control {
    padding: 7px 32px 6px 13px;
    height: inherit;
    font-size: 1.1em;
    border-color: #00c8fd;
    -webkit-appearance: none;
}
form.navbar-form.navbar-right button.btn.btn-default {
    border: none;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 23%;
    right: 5%;
    padding: 0;
    outline: none;
    box-shadow: none;
}
form.navbar-form.navbar-right button.btn.btn-default:focus {
    background-color:inherit !important;
    box-shadow: none !important;
    border-color:none !important;

}

span.glyphicon.glyphicon-search {
    font-size: 1em;
    color: #474747;
}
span.glyphicon.glyphicon-search:focus {
    outline: none;
}
.mobileview span.glyphicon.glyphicon-search {
    font-size: 1em;
    color: #ffffff;
}
span.glyphicon.glyphicon-search.mobileviewinline {
    font-size: 1em;
    color: #474747;
}

button.btn.btn-default:hover {
    background-color: #FFF;
}
/*--//search-button--*/
.navbar-default {
    margin: 0;
    border: none;


}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
/*--top-nav--*/
/*h1 a.navbar-brand {*/
.navbar-brand {	
    margin: 0 !important;
    display: block;
    height: 0;
    line-height: 0;
    padding: .6em 0;
    color:#ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    color:#FFFFFF;
    font-size:18px;
    text-transform: uppercase;	
}
.header-info /*new*/{
    padding-top:20px;
    padding-bottom:18px;
    padding-left:20px;
    display:inline-block;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
    color:#ffffff;
}
.navbar-nav > li > a {
    padding: 1.3em 0.45em;
    font-size: 0.825em;
    font-weight:300;
    text-transform:uppercase;

}
div#bs-example-navbar-collapse-1 {
    padding: 0;
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#474747;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover a, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
    color: #fff;
}
.navbar-nav > li > a:hover {
    color:#FFFFFF !important;
    /*background-color: #5e7074;*/
}

.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #474747;
}
/*--//top-nav--*/

.textalignleft{
    text-align:left;

}

a.more {
    font-size: 1.1em;
    color: #fff;
    background-color: #00c8fd;
    padding: 0.3em 1em;
    line-height: 38px;
}
a.more:hover {
    background-color: #fff;
    color: #00c8fd;
}
/*------------------ Slider Part starts Here----------*/


.events {
    list-style: none;
}
.callbacks_container {
    float: left;
    width: 100%;
    padding-top:5%;
}
.callbacks {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.container img{
    /*width:100%;*/
}

.navbar-left{
    margin-top:0px;
    padding-top:0px;

}
#bs-example-navbar-collapse-1{
    padding-right:5px !important;
}
.navbar-header{
    margin-top:-15px;
    padding-top:0px;
}
.navbar-default{
    background-color:#2e3639;

}
.grids-list-items {
    position: relative;
}
.team {
    padding: 0 0 5em 0;
}
.grid-info {
    margin-top: 0em;
}
.grids-list-items a {
    overflow: hidden;
    position: relative;
    /*display: block;*/
}
.moviethumbnails a {
    overflow: hidden;
    position: relative;
    display: block;
    max-width:200px;
}
.captn h3 {
    color: #fff;
    font-size: 1.2em;
    margin-top: 2px;
}
.captn p {
    font-size: 1.1em;
    margin-top: 0.5em;
}
/*.grids-list-items a .captn {*/
.captn {
    display: inline-block;
    height: 100%;
    width: 100%;
    color: #ffffff;
    position: absolute;
    bottom: -84%;
    bottom: -100%;
    right: 0;
    background-color: rgba(20, 20, 20, 0.85);
    padding: 5% 10%;
    text-align: center;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.grids-list-items a:hover .captn {
    width: 100%;
    bottom: 0%;
    padding: 20% 10%;
}
/*--//team--*/
/*--special--*/
.special {
    padding: 5em 0;
}
.special p {
    color: #555;
    font-size: 1.1em;
    line-height: 1.8em;
    margin-bottom: 0em;
}
.special h6 {
    font-size: 1.1em;
    color: #00c8fd;
    line-height: 1.6em;
    margin-bottom: 0.3em;
}
.progress {
    height: 16px;
    margin-bottom: 15px;
}
.progress-bar {
    background-color: #B3AFA6;
    line-height: 15px;
}

#toTop {
    display: block;
    text-decoration: none;
    position: fixed;
    bottom: 3%;
    right: 3%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=1);
}

main {
    background-color: #fff;
}
.breadcrumb {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F3F5F6;
    border-bottom: 1px solid #e9eaeb;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 20px 2px 20px;
    margin:0;
    color: #858E92;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 0 0;
}

.breadcrumb ol {
    margin-bottom: 0;
    padding-bottom:0;
}

.breadcrumb li:nth-child(1n+0):after {

}

.breadcrumb li:last-child:after {
    content: none;
}

.fixedqq {
    position: fixed; 
    top: 0; 
    z-index: 1;
}
.navbar-default .navbar-nav > li > a{
    color:#ffffff;

}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background-color:#474747;
    color:#FFFFFF;
}
.main{
    margin-left:15px;
    margin-right:15px;
    padding-bottom:0px;
    margin-bottom:0px;
}

/*current_location and modal start*/
.current_location a {
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.current_location_top {
    position: absolute;
    top: 3px;
    right: 20px;
    -webkit-animation: scrollDown 300ms ease 1 normal;
    animation: scrollDown 300ms ease 1 normal;
}

.current_location_top .btn-sm {
    padding-top: 2px;
    padding-bottom: 2px;
}

.modal-dialog {
    width: 430px;
    margin: 220px auto;
}
.modal-header .close {
    position: absolute;
    top: 10px;
    right: 10px;	
}

.modal-header {
    padding: 30px;
    background-color: #3d99d8;
    color: #fff;
}

.modal-content {
    border-radius: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.modal-body {
    padding: 40px 20px 20px 20px;
}

.modal-content .col-md-5 {
    padding: 0;
}

.modal-content .col-md-2 {
    line-height: 2;
}
/*current_location and modal start*/
.terms_conditions_modal .modal-header
{
    padding: 10px;
}

.terms_conditions_modal .modal-dialog
{
    width:702px;
    height:500px;
    margin: 80px auto;
}
.terms_conditions_modal .modal-body
{
    max-height: 420px;
    overflow-y: auto;
}


.embed_video_modal .modal-title {
    font-size: 1em;
    font-weight:bold;
}
.embed_video_modal .modal-header
{
    padding: 10px;
    background-color:#ffffff;
    color:#444444;
    font-size:2em;
    border:0px;
}

.embed_video_modal .modal-dialog
{
    width:500px;
    margin: 80px auto;
}
.embed_video_modal .modal-body
{
    max-height: 420px;
    overflow-y: auto;
    padding:0px 1em 1em 1em;
}
.embed_video_modal .modal-content
{
    padding:0em 1em;
}
.screenresolutions
{
    margin-top:1em;
    margin-bottom:2em;
    padding-bottom:2em;
}
.screenresolutions .videosize
{
    width:90px;
    display:inline-block;
    font-weight:bold;
    padding-right:0px;
    padding-left:0px;
    margin-top:5px;
}
.screenresolutions .videosize_title
{
    width:60px !important; display:inline-block;
    padding-left:0px;
    padding-right:10px;
    text-align:right;
    margin-top:5px;
}
.screenresolutions .videosize_number
{
    width:80px; display:inline-block;
    padding-left:0px;
}


.viewmap_modal .modal-header
{
    padding: 10px;
    background-color: #fff;
    color: #444444;
}
.viewmap_modal .modal-body
{
    padding:0px;
    margin:0px;
}
.viewmap_modal iframe
{
    width:600px;
    height:400px;
}
.viewmap_modal .modal-dialog
{
    width:602px;
    height:500px;
    margin: 100px auto;
}
.viewmap_modal .modal-title
{
    font-size:1.4em;
    font-weight:bold;
}


.widget-box {
    border: 1px solid #D3D3D3;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}

.widget-box h3 {
    font-size: 19px;
    padding: 10px 15px;
}

.widget-box h3 a {
    font-size: 13px;
    float: right;
    position: relative;
    top: 3px;
}

.widget-box h3 a i {
    margin-left: 10px;
}

.widget-box .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td{
    border-top:0px;
    text-align:left;

}
.widget-box table {
    width: 100%;
    padding: 10px;
    font-size: 12px;
}

.widget-box table tr {
    background-color: #f8f8f8;
}

.widget-box table tr:nth-child(even) {
    background-color: #fff;
}

.widget-box table td {
    padding: 10px 15px;
}
.widget-box .movie-thumbnail{
    text-align: right !important;
    width:80px;
}
.widget-box.popular table{
    margin-bottom:0px;
}
.logo-font-bold{
    font-weight:700;
}

.logo-font-thin{
    font-weight:500;
}

.logo-font-small{
    font-size:13px;
    text-transform:lowercase;
    color:#e7ecef;
    font-weight:bold;

}



.container.inside
{
    padding-left:5px;
    padding-right:5px;	  
    background-color:#FFFFFF;
    padding-top:15px;
}

.grid-info{
    /*float:left;*/
}


.filters {
    display: inline-block;
    width: 100%;
    background-color:#f4f4f4;
    padding:5px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
}

.filters .section-title {
    margin-top: 0;
}

.filters .btn-sm {
    padding-top: 5px;
    padding-bottom: 5px;
}
.filters span.glyphicon.glyphicon-search
{
    color:#ffffff;
}
.filter-dropdowns {
    float: left;
}
.float-right .view-toggle {
    margin-top:1em;
}

.view-toggle {
    float: right;
    border: 1px solid #ccc;

    border-radius: 5px;
    background: -webkit-linear-gradient(top, #fff, #f7f7f7);
    background: -moz-linear-gradient(top, #fff, #f7f7f7);
    background-image: -o-linear-gradient(top, #fff, #f7f7f7);
    background: linear-gradient(to bottom, #fff, #f7f7f7);
    min-width:147px;

}

.view-toggle ul {
    margin: 0;
    padding: 0;
}

.view-toggle li {
    padding: 0;
    float: left;
}

.view-toggle li:last-child .view {
    border-radius: 0 5px 5px 0;
}


.view-toggle .view .fa-th, .view-toggle .view .fa-list{
    font-size:17px;
    padding-top:0em;

}
.view-toggle .view {
    /*padding: 8px 10px 5px 10px;*/
    padding: 0.6em 10px;
    display: inline-block;
    font-size: 14px;
    height:2.6em;
}
.view-toggle .view-grid, .view-toggle .view-list {
    padding: 0.65em 9px;
}

.view-toggle a.view {
    cursor: pointer;
}

.view-toggle a.view:hover, .view-toggle .active > .view {
    background-color: #428bca;
    color: #fff;
}



/*FOOTER STYLES*/
footer{
    background-color:#4a5255;
    padding-top:2em;
    color:#c6cace;
}
footer h5{
    color:#e7ecef;
    text-transform:uppercase;
    font-size:1em;
    font-weight:bold;
    padding-bottom:1em;
}
footer hr{
    border-color:#858e95;
}
footer .col-md-2,footer .col-sm-2{
    width:20%;
    margin-bottom:20px;
}


footer .col-md-3
{
    width: 25%;
}
footer ul{
    display:block;
    font-size:0.8em;
    margin:0px auto;
}
footer p{
    font-size:0.8em;
}
footer ul a{
    color:#c6cace;
}
footer a:hover{
    color:#ffffff;
}
footer .social-links {
    margin: 0;
    font-size: 20px;
}
footer .col-md-6, .col-sm-6, .col-xs-12{
    padding-left:0px;
    padding-right:0px;
}
/*OVERWRITING BOOTSRAP COL WIDTH TILL 991*/
/*li .col-md-3
{
    width: 20%;
        padding-right:0px;
        padding-left:0px;	
}*/



/*.col-md-3 {
    width: 20%;
        padding-right:0px;
        padding-left:0px;
}*/

.inside hr
{
    margin-top:0;
    margin-bottom:0;
}

.float-left
{
    float:left;	 
}
.float-right
{
    float:right;	 
}
.lighttext
{
    opacity:0.6;
    padding-right:0.5em;
    font-size:13px;
    font-weight:normal;	 
}

.float-right p
{
    padding-top:1.5em;
    padding-right:0.5em;
    font-size:13px;
    font-weight:normal;
}
.float-right .lighttext
{
    opacity:0.6;
}
.float-right a
{
    font-size:12px;
    font-weight:bold;
}

.colorblue{
    color:#3494d7;
}
.coloryellow
{
    color:#f39c12;
}
.btn-primary {
    color: #fff;
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
}
/*#################DVD PAGES STARTS##################*/
.dvdpage .h3dvd {
    font-weight:bold;
    font-size:0.95em;
    padding-top:2em;

}
.dvdpage .view-toggle{
    margin-top:1em;

}
/*#################DVD PAGES Ends##################*/
.info_list
{
    border: 1px solid #d8d8d8;
    border-radius: 0px;
    display: inline-block;
    padding: 7px;
    width: 100%;
    margin:2em 0;
    background-color:#f4f4f4;
    font-size:0.9em;
}
.info_list li{
    display:inline;
}
.info_list li+li:before {
    content: "|";
    padding: 0 1em;
    color:#2991d8;
}
/*#################FOR SHOWTIMES START##################*/
.showformobiles{
    display:none;
}
.buttonticket {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;

    line-height: 1.42857;
    margin-bottom: 0;
    padding: 4px 2px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;	
    color: #FFF;
    font-size: 13px;
    font-weight:bold;
    margin-bottom:0.5em;
    margin-right:0.2em;
    min-width:85px;
}
.buttonticket.btn_active:before{
    font-family: 'FontAwesome';
    content: '\f145';
    padding-left: 0px;
    padding-right:0.2em;
    position: relative;
    font-size: 100%;
    color:#fff;
}
.spanticket:before {
    font-family: 'FontAwesome';
    content: '\f145';
    padding-left: 0px;
    padding-right:0.2em;
    position: relative;
    font-size: 100%;
    color:#000;
}
.buttonticket.btn_active{
    background-color: #3494d7;
    color: #fff;
}
.buttonticket.btn_inactive{
    background-color: #cecece;
    color: #fff;
    cursor: not-allowed;
}
.buttonticket.btn_inactivepast{
    background-color: #fff;
    color: #444444;
    border: 1px solid #e7e8e9;
    border: 0px solid #e7e8e9;
    cursor:default;
}
.buttonticket.btn_active:hover,
.buttonticket.btn_active:focus,
.buttonticket.btn_active.focus {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background-color:#286090;
}
.ticketicons{
    float:right;
    width:calc(100% - 90px);
    margin-left:00px;
    padding-left:0.5em;
    padding-top:0.5em;
}
.ticket-date{
    font-weight:bold;
    padding:5px;
}
.showtimes_searchoptions{
    margin-top:0.5em;

}
.showtimes_searchoptions button{
    position:relative;

}
.showtimes_searchoptions button.active{
    padding-right:10px;
}
.showtimes_searchoptions button.active:after{
    display:block;
    position:absolute;
    content:'x';
    top:-3px;
    right:1px;
    font-size:10px;
}
.fa-heart-o, .fa-heart{
    color:#F90206;
}
.showtimes .description{
    text-align:left;
    margin-bottom:1em;
}
.showtimes .movie-info-box p{
    padding-top:0.2em;
    padding-bottom:0.6em;
}
.showtimes .ratings-icons {
    color: #f39c12;
    font-size:14px;
    margin: 0;
}
.showtimes .section-title{
    padding-bottom:0.5em;
}
.showtimes .filters{
    background-color:#ECEAEA;
}
.showtimes p{
    line-height:1.5em;	
}
.showtimes .filter-dropdowns{
    padding-top:1em;
    padding-bottom:1em;
    clear:both;
    width:100%;
}
.showtimes .form-group select{
    width:100%;	
}
.showtimes .filter-dropdowns .form-group {
    margin-right: 0;
    width: 30%;
    margin-bottom: 5px;
    margin-right:10px;
}

.showtimes .refine-search{
    float:right;	
}
.fa-limited {
    float: left;
    position: relative;
    top: 2px;
}

.limited {
    position: relative;
    display: inline-block;
    width: 75%;
    overflow: hidden;
    float: left;
    top: 0;
    left: 6px;
}

.col-md-8 .dropdown li.active,.col-md-8 .dropdown li.active a
{
    background-color: #3494d7;
    color: #fff;
}
.tabsystem.dropdown li.active,.tabsystem.dropdown li.active a
{
    color: #3494d7;
}


/*  .tabsystemtoggle .btn:after {
        content: '\f0d8';
        font-family: 'FontAwesome';
  }
  .tabsystemtoggle .btn.collapsed:after {
        content: '\f0d7';
        font-family: 'FontAwesome';
  }*/
.showtimes .displayrow p{
    font-size:1em;
    padding-top:0.5em;
}
.showtimes .fa-ticket{
    color:#3494d7;	
}
.showtimes .movielist {
    background-color: #f1f3f4;
    border: 1px solid #e7e8e9;
    display: inline-block;
    padding: 7px 7px 0px 7px;
    width: 100%;
}
.showtimes .movie-info-box {
    background-color: #ffffff;
    border: 1px solid #e7e8e9;
    border-bottom: 7px solid #f1f3f4;
    display: inline-block;
    width: 100%;
}


.showtimes h2.media-heading, .showtimes h3.media-heading
{
    font-size: 1.4em;
    font-weight:600;
    padding-top: 5px;
    padding-bottom:0px;
}
.showtimes .ticketicons h3
{
    font-size: 0.9em;
    font-weight:600;
    padding-top: 0px;
    padding-bottom:2px;
}
.showtimes .media-body{
    font-size:13px;
    vertical-align:middle;
}
.showtimes .media-body p{
    line-height:1.5em;

}
.showtimes .media{
    padding:0em 0em;
}
.showtimes img.media-object{
    max-width:75px;
}
.grey_text{
    color:#BDBDBD;	
}



.movie-info-box .col-md-2{
    padding-left:0px;
    /*padding-right:10px;*/
    width: 14%;
    display: inline-block;
}
.movie-info-box .col-md-10{
    padding-left:0px;
    width: 86%;
    display: inline-block;
}
/*.time-box {
        display:inline-block;
        float:right;
        width: 560px;
        height: auto;
}

.movie-time {
        font-family: ;
        font-size: 1.3em;
}*/
/*button {
        -webkit-border-radius: 7;
        -moz-border-radius: 7;
        border-radius: 7px;
        font-family: ;
        font-weight:bold;
        color: #FFF;
        font-size: 0.7em;
        background: #3498DB none repeat scroll 0% 0%;
        text-decoration: none;
        border: 0em none;
        margin: 0.1em 0em;
        width: 6.9em;
        padding: 0.6em;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
  color: #ffffff;
  font-weight:bold;
}

button div{
        width:20px;
        height:15px;
        padding-top:13px;
    background-image: url(../images/ticket.png);
        background-repeat:no-repeat;
}

button div.left-ticket{
    float: left;
}*/

/*#################FOR SHOWTIMES ENDS ##################*/
/*#################THEATERS STARTS##################*/

.theaters-listings .fa-heart-o, .fa-heart{
    color:#F90206;
}
.theaters-listings .showtimes_searchoptions{
    margin-top:0.5em;
    margin-bottom:3em;
    clear:both;
}
.theaters-listings .showtimes_searchoptions .btn.btn-default.btn-xs, .showtimes .showtimes_searchoptions .btn.btn-default.btn-xs{
    border:0px;
    background:none;
}
.theaters-listings .showtimes_searchoptions .btn.btn-default.btn-xs:hover, .showtimes .showtimes_searchoptions .btn.btn-default.btn-xs:hover{
    background-color: #3494d7;
    color: #fff;
}
.theaters-listings .showtimes_searchoptions .btn.btn-primary.btn-xs, .showtimes .showtimes_searchoptions .btn.btn-primary.btn-xs{
    background-color: #3494d7;
    color: #fff;
    border:none;
}
.theaters-listing p{
    padding-top:0.4em;
    padding-bottom:0.2em;
}
.theaters-listing h2{
    padding-top:0em;
    padding-bottom:0.5em;
    font-size: 1.4em;
    font-weight:bold;
    padding-top: 5px;
}

.viewmore.col-md-3
{
    padding:0;
    margin-top:36px;
}
.description.col-md-9
{
    padding:0;
}

.viewmore
{
    float:right;
    text-align:right;	
}
li.viewmore 
{
    list-style:none;
    margin-bottom:0.5em;
}

.viewmore .btn-default{
    background:none;
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
    border: solid #2897e4 1px;

    border-radius: 3px;
    color: #fff !important;
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 auto;
    padding: 8px 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    width: 130px;
    float:right;
    vertical-align: middle;	
}
.viewmore .btn-default.active
{
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
    border: 0 none;
    color: #fff !important;
    margin: 0 auto;
    transition: all 0.4s ease 0s;
    width: 130px;
}
.viewmore .btn-default:hover{
    background-color: #286090;
}

/*.viewmore .btn:after {
  content: '\f0d8';
  font-family: 'FontAwesome';
}
.viewmore .btn.collapsed:after {
  content: '\f0d7';
  font-family: 'FontAwesome';
}*/

.viewmore ul.theaters-listing li
{
    border:none;
}

.theaters-listing .theaters-listing p{
    font-size:1em;
    color:#444444;
}
.theaters-listing ul {
    list-style: inside none none;
}
section.theaters-listing-section
{
    border: 1px solid #d8d8d8;
    margin-bottom:-1px;
    padding: 10px;
    transition: all 0.5s ease 0s;
    overflow:hidden;
}
section.theaters-listing-section:last-child
{
    margin-bottom:0px;
}
ul.theaters-listing li {
    overflow: hidden;

    /*    border: 1px solid #d8d8d8;
            margin-bottom:-1px;
        overflow: hidden;
        padding: 10px;
        transition: all 0.5s ease 0s;*/
}
ul.theaters-listing li li{

    padding: 0px;
}

.theaters-listing li:nth-child(even) {
    background-color:#F8F8F8;
}
.theaters-listing li:nth-child(odd) {
    background-color:#FFFFFF;
}

.showtimes li:nth-child(even) {
    background-color:#ffffff;
}
.nearby_theatres section li:nth-child(even){
    background-color: #f8f8f8 !important;
}
.theaters-listing .showtimes .movie-info-box {
    border-bottom: 5px solid #f1f3f4;
}
.theater-results-list .col-md-12 {
    overflow: hidden;
    padding: 0em;
    vertical-align: middle;
    display: inline-block;
}
.theater-results-left {
    float: left;
}

.theater-results-right {
    float: right;
}
.theater-results li{
    background-color:#E92225;
}

.miles {
    float:right;
    padding-bottom:3.5em;
}

.milesTEST {
    float:right;
    background-color:#E7161A;
}
.view-showtimes-btn{
    width: inherit;
    /*float: right;
    margin: 0px 10px 0px 0px;*/
}
.view-showtimes-btn{
    background: #0098da;
    background-image: -webkit-linear-gradient(top, #0098da, #0080da);
    background-image: -moz-linear-gradient(top, #0098da, #0080da);
    background-image: -ms-linear-gradient(top, #0098da, #0080da);
    background-image: -o-linear-gradient(top, #0098da, #0080da);
    background-image: linear-gradient(to bottom, #0098da, #0080da);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 8px 11px 8px 11px;
    text-decoration: none;
}
.btn:hover .view-showtimes-btn {
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
    text-decoration: none;
}
/*#################THEATERS ENDS##################*/

.movies .col-md-3, .movies_g .col-md-3 {
    width: 20%;
    padding-right:0px; 
    padding-left:0px;
}
.container .col-md-8
{
    padding-right:0px;
}

/* .col-md-4
 {
         text-align:center;
 }*/
.filters .col-sm-3
{
    padding-left:0px;
    padding-top:0px;
    padding-right:10px;
    display:inline-block;
}
.filters .col-sm-2
{
    width:20%;
    padding-left:0px;
    padding-top:0px;
    padding-right:10px;
    display:inline-block;
}
.filters .col-sm-6
{
    width:35%;
}
.dvdpage .filters .col-sm-6
{
    width:35%;
}

.filters .col-sm-6
{
    display:inline-block;
    float:right;
}



/* ########################################################################################*/
.mpaa {
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 0px;
    color: #000;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 2px 2px 1px 2px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-top:2px;
}

.movie-meta{
    text-align:left;
    padding-top:0.5em;
}
.movies-list .movie-meta{
    text-align:left;
    padding-top:0em;
}
.movies .ratings-icons, .movies_g .ratings-icons{
    color: #f39c12;
    margin: 0;
    font-size:13px;
    padding:0px;
}

.movies .ratings-icons .rating, .movies_g .ratings-icons .rating {
    color: #666;
    padding-right: 10px;
}

.movies .movie-meta small, .movies_g .movie-meta small {
    font-size: 12px;
    font-weight:bold;
    opacity: 0.6;
}

.movies .ratings-icons li,
.ratings-icons li {
    padding: 0 0px;
    margin:-1px;
}
.movies-coming-soon .movies .ratings-icons li {
    margin-top:-5px;

}
.movies, .movies_g {
    /*display: inline-block;*/
    margin: 10px 0;
}
.movies .borders_trailer, .movies_g .borders_trailer{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display:block;
    margin-top:1em;
    margin-bottom:1em;	
}


/*.movies li.movie:hover img {
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}*/

.movies li.movie, .movies_g li.movie {
    width: 20%;
    padding-top:6px;
    padding-right:10px;
}

.movies figure, .movies_g figure {
    width: 100%;
    min-height:100%;
}
img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
img.zoom-img:hover {
    -webkit-transform: scale(1.1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 750ms;
    -moz-transform: scale(1.1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 750ms;
    overflow: hidden;
}

.movies .new-this-week figcaption {
    min-height: 110px;
}

.movies .new-this-week .movie-meta {
    bottom: 0;
}

.movies figcaption, .movies_g figcaption  {
    min-height: 90px;
    overflow: hidden;
}

.movies-grid .movie-meta {
    position:relative;
    width: 100%;
}

.movies .ratings-icons, .movies_g .ratings-icons {
    color: #f39c12;
    margin: 0;
}

.movies .ratings-icons .rating, .movies_g .ratings-icons .rating {
    color: #666;
    padding-right: 10px;
}

.movies .movie-meta small, .movies_g .movie-meta small {
    font-size: 11px;
    opacity: 0.6;
}

.movies .ratings-icons li,
.ratings-icons li {
    padding: 0 1px;
}

.movies-grid .movie img {
    /*	width: 100%;
            display: block;*/
}
.movies-grid .hide_for_grids{
    display:none;	
}
.movies-grid .trailer{
    display:none;	
}
.movies-grid .grids-list-items, .movies-grid .grids-list-items a {
    display: block;
}
/*-------LIST VIEW----------*/


.movies-list .mpaa {
    margin-left:10px;
}
.movies-list .img-responsive{
    display: none;
}
.movies-list figcaption{
    min-height:0;
}
.movies-list .captn{
    display:none;
}


small.hide_for_grids {
    font-size:25px;
    color:#444444;
}
.movies-list li.movie {
    width: 100%;
    padding: 0px;
    margin: 0px 0;
}
.movies-list li:nth-child(odd) {
    background-color: #f8f8f8;
}
.movies-list .grids-list-items{
    border: 0px solid #ccc;
}
.movies-list .trailer .fa{
    padding-bottom:0;
    font-size:17px;
}
.movies-list h3{
    font-size:13px;
    text-align:left;
    font-weight:bold;
    padding-top:5px;
}
.movies-list .movie-title {
    width: 45%;
    float: left;
    margin: 0;
    margin-top:5px;
    font-weight: 600;
    display:inline-flex;
}
.movies-list .trailer{
    display:inline-flex;
    float:right;
    text-align:right;
    font-size:13px;
}

.movies-list .ratings-icons{
    width:20%;
    display:inline-block;

    float:right; /*if no trailer*/
}

.movies-list .ratings-icons {
    text-align: left;
    /*float: right;*/
    margin: 0;
    font-size:10px;
}
.movies-list .mpaa {
    margin-top:4px;
}
.movies-list small {
    padding-left:2px;
}

.movies-list .ratings-icons li {
    padding: 0 0px;
    margin:-2px;
}
.movies-list .movies-list-align{
    float:left;
    width:100%;
    text-align:left;
    padding-left:1em;
    padding-right:1em;
    padding:5px 1em;
    border-bottom: 1px solid #ccc;
}
.movies-list .ratings-icons{
    font-size:15px;
    padding:0px;
}
.movies-list .movie-title{
    padding-top:0px;
}


.grid-info .movies-grid h3{
    font-size:13px;
    text-align:left;
    font-weight:normal;
    padding-top:5px;
}




/* #####################################################################################*/

.paginations{
    text-align:center;
    display:block;
    margin-top:2em;
    padding-bottom:1.5em;
    display:block;
}
.paginations .col-md-2{
    padding-left:0px;
    margin-left:0px;
    padding-right:0px;
    margin-right:0px;
}
.paginations .col-md-8{
    padding-left:0px;
    margin-left:0px;
    padding-right:0px;
    margin-right:0px;
}
.paginations .col-md-2 .btn-default{
    background:none;
    color:#2991d8;
    width:110px;
    border-radius:0px;
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
}
.paginations .col-md-2 button.btn.btn-default:hover{
    background-color:#2991d8;
    color:#fff;
}

.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 0px 0 0px 0;
    padding-left: 0;
}


.pagination > .small_buttons {
    position: relative;
    float: left;
    padding: 6px 5px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}


/*.pagination > li > a.first_li {*/
.pagination  li.first_li a {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination  li.last_li a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right: 2px solid #ddd;
}

/*.pagination  .hideformobile{
        color:#000;
}

.pagination .hideformobile a:hover{
        color:#ffffff;
}*/


.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span
{
    position: relative;
    float: left;
    padding: 7px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color:#337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 0px solid #ddd;
}

.pagination > li > a, .pagination > li > span {
    color: #2991d8;
    line-height: 1.42857;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fff;
    background-color: #2991d8;
    border-color: #ddd;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
    background-color: #2991d8;
    border-color: #ddd;
}

.pager {
    padding-left: 0;
    padding-right: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}
.pager li {
    display: inline;
}
.pager > li > a,
.pager > li > span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;

    position: relative;
    padding: 6px 12px;
    margin-left: -3px;
    margin-right: -2px;
    line-height: 1.42857143;
    color: #3494d7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.inner-pager > li:first-child > a,
.inner-pager > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.inner-pager > li:last-child > a,
.inner-pager > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pager li > a:hover,
.pager li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.pager .next > a,
.pager .next > span {
    float: right;
}
.pager .previous > a,
.pager .previous > span {
    float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #000;
}

/* #####################################################################################*/
.dropdown-menu > li{
    font-size:14px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-color: #2991d8;
}
.dropdown-menu > li > a{
    font-size:14px;
}
.filters .dropdown{
    width:auto;
}
.filters .scrollable-menu,.scrollable-menu2{
    height: auto;
    max-height: 200px;
    min-width:100%;
    overflow-x: hidden;
}
.scrollable-menu2 li a:hover{
    background:#2991d8 !important;
}
.filters .dropdown-menu {
    padding: 0px;
    margin: 0px;
    line-height: normal;
    margin-top:0px;	
}
#dropdownMenu5.btn{
    min-width:180px;
    text-align:left;
}
#dropdownMenu5 .caret {
    position: absolute;
    left: 90%;
    top: 45%;
}
.navbar-collapse.collapse.in .dropdown-menu li a{
    color:#fff !important;
}
.dropdown-menu li a{
    color:#333 !important;
}
.dropdown-menu li a:hover{
    color:#fff !important;
}
.filters .caret{
    position: absolute;
    left: 90%;
    top: 45%;
}
.filters .dropdown-menu li, .dropdown-menu a {
    padding: 0px;
    margin: 0px 5px 0px 0px;
    line-height: normal;
    width:100%;
}
.dropdown-menu{
    min-width:100%;
}
.btn
{
    height: 38px;
}
.btn-xs
{
    height: 24px;
}
.filters .dropdown button.btn.btn-default
{
    border: 1px solid #ccc;
    box-shadow: none;
    height: 38px;
    outline: medium none;
    padding: 0;
    position:relative;
    right: 0;
    top: 0;
    width:100%;
    text-align:left;
    padding-left:10px;
}
.filters .dropdown-width{
    width:30%;
    display: inline-block;
}
/*DVD RECENT*/
.dvd-recent-releases .col-md-6{
    background-color:#f8f8f8;
    width: 48%;
    margin-bottom:2%;
    display:inline-block;
    padding:0;
    margin-top:1em;
}
.dvd-recent-releases .col-md-6{
    margin-right:2%;
}
.dvd-recent-releases h3.media-heading {
    color:#2991d8;
    font-size:15px;
}
.dvd-recent-releases .media-body{
    font-size:13px;
    vertical-align:middle;
}
.dvd-recent-releases .media-body p{
    line-height:1.2em;

}
.dvd-recent-releases .media{
    padding:0.5em 0.5em;
}


.dvd-recent-releases .dvd-recent-releases-list .col-md-12{
    overflow:hidden;
    padding:0em;
    vertical-align:middle;
    display:inline-block;
}
.dvd-recent-releases .dvd-recent-releases-list .media-body .col-md-6{
    vertical-align:middle;
    text-align:left;
    display:inline-block;
    width:60%;
    background-color:transparent;
    margin-bottom:0;
    padding:0;	
}
.dvd-recent-releases .dvd-recent-releases-list .media-body .col-md-3{
    vertical-align:middle;
    text-align:right;
    display:inline-block;
    width:20%;
    padding:0;
}

.dvd-recent-releases .dvd-recent-releases-list ul{
    list-style:none;
}
.dvd-recent-releases .dvd-recent-releases-list li {
    border-bottom: 1px solid #e9eaeb;
}
.dvd-recent-releases li:nth-child(odd) {
    background-color: #f8f8f8;
}
.ratings-icons li:nth-child(odd), .ratings-icons li:nth-child(even), .ratings-icons li {
    background-color:transparent;
    border:none;	
}
/*BUTTONS*/
.btn-default{
    background: -webkit-linear-gradient(top, #fff, #f7f7f7);
    background: -moz-linear-gradient(top, #fff, #f7f7f7);
    background-image: -o-linear-gradient(top, #fff, #f7f7f7);
    background: linear-gradient(to bottom, #fff, #f7f7f7);

}
/*TABS FOR FOOTER*/
.tabsystem_footer{
    margin-bottom:0.5em;
    font-size:12px;
    font-weight:bold;

}
.tabsystem_footer .nav > li > a {
    display: block;
    padding: 5px 0px;
    position: relative;
}

/*.tabsystem_footer .nav-tabs.nav-justified > .active > a, .tabsystem_footer .nav-tabs.nav-justified > .active > a:focus, .tabsystem_footer .nav-tabs.nav-justified > .active > a:hover{
border-bottom-color: #fff;
        background-color:#ffffff;
        border-top: 1px solid #2991d8;
        color:#2991d8;
}*/
.tabsystem_footer .nav-tabs.nav-justified > li > a
{

    border-radius: 0px;
    border: 1px solid #cccccc;
    border-top: 1px solid #d8d8d8;	
    border-bottom: 1px solid #d8d8d8;
    background-color:#f4f4f4;
    color:#2991d8;
}
.tabsystem_footer .nav > li > a:focus, .tabsystem_footer .nav > li > a:hover {
    border-bottom-color: #fff;
    background-color:#ffffff;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
/*TABS FOR ALL*/
.tabsystem{
    margin-bottom:0.3em;

}
.tabsystem ul{
    margin-bottom:0.5em;

}
.tabsystem .caret{
    position: absolute;
    left: 95%;
    top: 45%;
}


.tabsystem .nav > li > a {
    display: block;
    padding: 7px 5px 8px 5px;
    position: relative;
    min-height:40px;
}
.tabsystem .nav-tabs.nav-justified > .active > a, .tabsystem .nav-tabs.nav-justified > .active > a:focus, .tabsystem .nav-tabs.nav-justified > .active > a:hover{
    border-bottom-color: #fff;
    background-color:#ffffff;
    border-top: 4px solid #2991d8;
    color:#2991d8;
}
.tabsystem .nav-tabs.nav-justified > li > a
{

    border-radius: 0px;
    border: 1px solid #cccccc;
    border-top: 4px solid #d8d8d8;	
    border-bottom: 1px solid #d8d8d8;
    background-color:#f4f4f4;
    color:#444444;
}
.tabsystem .nav > li > a:focus, .tabsystem .nav > li > a:hover {
    border-bottom-color: #fff;
    background-color:#ffffff;
    border-top: 4px solid #f39c12;
}
/*--------------------------------*/
.tabsystem .btn-default
{
    /*	background: -webkit-linear-gradient(top, #fff, #ededed);
            background: -moz-linear-gradient(top, #fff, #ededed);
            background-image: -o-linear-gradient(top, #fff, #ededed);
            background: linear-gradient(to bottom, #fff, #ededed);*/
    background:none;
    background-color:#f4f4f4;
    padding: 8px 5px 9px 5px;
    min-height:40px;

    border-radius: 0px;
    border-top: 4px solid #d8d8d8;	
}

.tabsystem .btn-default.active
{
    /*	background: -webkit-linear-gradient(top, #fff, #2991d8);
           background: -moz-linear-gradient(top, #fff, #2991d8);
           background-image: -o-linear-gradient(top, #fff, #fff);
           background: linear-gradient(to bottom, #fff, #fff);*/   
    border: 1px solid #ccc;
    outline: 0 none;	
    box-shadow:none;
    background:none;
    border-top: 4px solid #2991d8;
    border-bottom: 1px solid #ffffff;
    background-color: #fff;
    color:#2991d8;

}
.tabsystem .btn-default:hover{
    box-shadow:none;
    background:none;

    border-top: 4px solid #f39c12;
}
.tabsystem .btn-default.active:hover
{
    border-top: 4px solid #2991d8;
}
/*--------------------------------*/
.tabsystemtoggle .btn-default.active
{
    background-color: #fff;
    border: 1px solid #ccc;
    outline: 0 none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;


    box-shadow:none;
    background:none;
    background: -webkit-linear-gradient(top, #fff, #fff);
    background: -moz-linear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(top, #fff, #fff);
    background: linear-gradient(to bottom, #fff, #fff);
}
.tabsystemtoggle .btn-default{
    /*box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
            background: -webkit-linear-gradient(top, #fff, #ededed);
            background: -moz-linear-gradient(top, #fff, #ededed);
            background-image: -o-linear-gradient(top, #fff, #ededed);
            background: linear-gradient(to bottom, #fff, #ededed);*/
    padding-top:0.7em;

}
.tabsystemtoggle .btn-default:hover{
    box-shadow:none;
    background:none;

    color:#ffffff;
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
}
.tabsystemtoggle{
    display:none;
}

/*----------------------------------------*/
.filters-new .filters{
    display: inline-block;
    width: 100%;
    background-color:#eaeaea;
    padding:0px;
    border:none;
    border-radius: 0px;

    background: -webkit-linear-gradient(top, #fff, #2991d8);
    background: -moz-linear-gradient(top, #fff, #2991d8);
    background-image: -o-linear-gradient(top, #fff, #e0e0e0);
    background: linear-gradient(to bottom, #fff, #e0e0e0);
}
.modal-title  {
    font-size:18px;
    text-align:center;
}
.breadcrumb > li + li::before{
    content: '\f105';
    font-family: 'FontAwesome';
    color:#858e92;
}
/*----------------------------------------*/
.movies-coming-soon .grid-info .movies-grid h3 {
    padding-top: 0px;
}
.movies-new-this-week .filters
{
    background-color:#fff;
    border:none;
    width: 50%;
}
.section-title .underlines{
    color:#444444;
    font-size:1.9em;
    text-decoration:underline;	
}
.section-title .fa-map-marker{
    font-size:1.9em;
}
.section-title .current_location a{
    color:#2991d8;
}
/*-------------------contests---------------------*/
.contests h1{
    padding-bottom:0px;
}
.contests h2{
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.contests .contestslist h3{
    font-size:1.1em;
    font-weight:bold;
}
.contests .contestslist p{
    font-size:1em;
    color:#444444;
}
.contests ul {
    list-style: inside none none;
}
.contestslist .winners,.contestslist .list{
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
}

.contests ul.contestslist li {
    background-color: #f3f4f6;
    border: 1px solid #d8d8d8;
    /*border-radius: 3px;*/
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    overflow: hidden;

    transition: all 0.5s ease 0s;
}
.contestslist.winners li{
    cursor:initial !important;
}
.contests ul.contestslist li:hover {
    background-color:#E3E3E3;

}
.contests .contestsbutton
{
    background-color: #008bda;
    border: 0 none;
    border-radius: 3px;
    color: #fff !important;
    cursor: pointer;
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 120%;
    margin: 0 auto;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    width: 130px;
}
.contests .contestsbutton:hover {
    background-color: #286090;
}
.contests .contestslist .col-md-3{
    float:right;
    padding-top:8px;
    margin-right:0px;
    padding-left:15px;
    padding-bottom: 8px;
}
.contests .contestslist .col-md-9{
    float:left;
    padding-top:8px;
    padding-left:15px;
    padding-bottom: 8px;
}
.contests .contestslist .closing-date{
    font-weight:normal;
    font-size:12px;
}
.contests p.winners {
    padding-top:1em;
    font-weight:bold;	
}
.contests hr {
    margin-top:1em;
    margin-bottom:0.5em;
    border-color:#ccc;
    clear:both;
}
.contests.winnerslist h1{
    padding-bottom:0.5em;
}
.contests .contestslist img{
    width:100%;
}
/*--------------------contestsform----------------------*/

.contestsform h1{
    padding-bottom:0px;
}
.contestsform h2{
    padding-top:0.5em;
    padding-bottom:0.3em;
}
.contestsform p{
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.contestsform .bgdiv{
    background-color: #f3f4f6;
    border: 1px solid #d8d8d8;
    padding:8px;
    margin-top:1em;

}
.contestsform #contestform label{
    text-align:left;
}
.contestsform #contestform h3{
    font-size:1.2em;
    font-weight:bold;
    padding-top:0.2em;
    padding-bottom:0.4em;
}
#contestform .btn{
    display:block;
    margin:0px auto;
}
.contestsform .col-md-6{
    vertical-align: middle;
    line-height:2.5em;
}
.contestsform .skilltesting
{
    background-color: #008bda;
    border-radius: 3px;
    margin: 5px 0 4px;
    color:#fff;
    overflow:hidden;
    padding: 10px;
}
.contestsform #contestform hr{
    margin-top:1em;
    margin-bottom:1em;
    border-color:#ccc;
    clear:both;

}
.contestsform em
{
    font-size: 11px;
    opacity: 0.6;
}

label {
    font-weight: 300;
}
.needsfilled {
    border: 1px solid #ff002a;
    color:#ff002a !important;
    font-weight:normal;
}
.validation-summary-errors ul{
    list-style:none;
    padding:0px;
    margin:0px;
    margin-bottom:1em;
}
.validation-summary-errors ul li{
    color:#ff002a !important;
    font-weight:normal;
}
/*#################Synopsis Starts##################*/
.synopsis-main .col-md-3 img, .synopsis-cast .col-md-3 img, .synopsis-photos .col-md-3 img, .synopsis-reviews .col-md-3 img, .synopsis-showtimes .col-md-3 img, .synopsis-story .col-md-3 img, .synopsis-trailers-and-videos .col-md-3 img
{
    max-width:155px;
}
.synopsis-main .movie-info-box {
    background-color: #ffffff;
    border: 1px solid #e7e8e9;
    border-bottom: 7px solid #f1f3f4;
    display: inline-block;
    width: 100%;
}

/* .synopsis-main .col-md-9 
 {
         padding-right:15px;
 }
 .synopsis-main .col-md-3 
 {
         padding-right:0px;
         padding-left:15px;
 }*/
.synopsis-main hr
{
    margin-top:0.8em;
}
.synopsis-main .findshowtimes
{
    font-weight:bold;
    font-size:1em;
    padding-top:1em;
}

.synopsis-main .table > tbody > tr > td{

    border-top: 0px solid #ddd;
}
.synopsis-main .table > tbody > tr > td
{
    padding-left:0px;
}

.synopsis-main .crewdetails
{
    padding-top:1em;

}
.synopsis-main .mpaa
{
    margin-top:-1px;
}
.synopsis-main .description p
{
    padding-top:0.5em;
}
.celebrity-main .pull-left.grey_text, .trailers_videos .pull-left.grey_text, .synopsis-trailers-and-videos .pull-left.grey_text
{
    padding-top:0.5em;
}

.trailers_videos .description p {
    padding-top: 0.5em;
}

.celebrity-main.bio a{
    font-weight:bold;
}
.celebrity-main article h2{
    padding-bottom: 7px;
}

.celebrity-main .celebimage{
    padding-bottom:7px;
}
.celebrity-main .description h2
{
    padding-top:0em;
}

.trailers_and_vids figcaption:hover
{
	text-decoration:none;
}
.trailers_and_vids
{
    margin-top:1em;
}
.trailers_and_vids .col-md-6
{
    padding-right:1.3em;
    padding-bottom:1.5em;

}
ul.trailers_and_vids li{
    display:inline-block;
}

.trailers_and_vids figure .tdiv
{
    overflow: hidden;
    position: relative;
    display: block;
    max-height: 200px;
}
.moviethumbnails figure .tdiv
{
	overflow: hidden;
	position: relative;
	display: block;
	max-height: 150px;
}
.trailers_and_vids figure img
{
    margin:-30px 0px;
}


.trailers_and_vids li:hover .play
{
    opacity: 1;
}

/*.trailers_and_vids .play
{   
    background: url('../images/button.png') center center no-repeat;
    background-size:cover !important;
    position: absolute;
    top: 30%;
    left: 35%;
    width: 72px;
    height: 74px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}*/

.moviethumbnails figure img
{
    margin:-15px 0px;
}
.trailers_and_vids li:hover .play, .moviethumbnails li:hover .play
{
   opacity: 1;
}

.trailers_and_vids .play, .moviethumbnails .play
{   
  background: url('../images/button.png') center center no-repeat;
  background-size:cover !important;
  position: absolute;
  top: 35%;
  left: 40%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.moviethumbnails .play
 {   
    top: 30%;
    left: 35%;
 }
.trailers_and_vids figcaption, .moviethumbnails figcaption
{
    font-weight:bold;
    font-size:1em;
    margin-bottom:0.4em;
    padding-top:0.5em;
} 
 
/*=======
{   
    background: url('../images/button.png') center center no-repeat;
    background-size:cover !important;
    position: absolute;
    top: 20%;
    left: 33%;
    width: 62px;
    height: 64px;
    cursor: pointer;
}*/



.synopsis-main .movies li.movie, .synopsis-main .movies_g li.movie {

    width: 25%;
}
.synopsis-main .row, .news-all .row
{
    margin-top:2em;
}
.synopsis-story h2
{
    padding-top:0px;
    font-size:1.8em;
}
.synopsis-story h3
{
    padding-top:0px;
    font-size:1.5em;
    padding-top:1em;
    font-weight:bold;
}
.synopsis-story .movie-title
{
    font-size:1em;
    font-weight:bold;

}
.synopsis-showtimes .ticketicons{
    float:left;
    margin-left:0px;
    padding-left:0.5em;
    padding-top:0.5em;
}
.synopsis-showtimes .viewmore.col-md-3
{
    padding:0;
    margin-top:60px;
}
.synopsis-cast .bordercol
{
    border: 1px solid #e7e8e9;
    padding:1em;
}
.synopsis-cast .bordercol img
{
    width:100px;
}

.synopsis-cast .float-right
{
    float:right;
    margin-top:-1.2em;
}

/*.synopsis-trailers-and-videos iframe*/
.video_frame iframe
{
    width:100%;
    min-height:400px;
}
.celebrity-main .video_frame
{
    margin-bottom:1em;

}
.synopsis-trailers-and-videos .description h2
{

}
.description .videoviews_number
{
    padding-top: 1em;
    font-size: 1.2em;
}

.celebrity-main .description .videoviews_number
{
    padding-top: 0em;
    font-size: 1.2em;
}

.description .videoviews
{
    padding-top: 0em;
}
.celebrity-main .description .videoviews
{
    padding-top: 0em;
}
.synopsis-reviews .review-box:first-child,.review-box.top{
    border-top: 1px solid #D3D3D3;
}
.synopsis-reviews .showingpad
{
    padding:1em 0em;
}
.synopsis-reviews h2
{
    padding-top:0px;
    font-size:2.5em;
}

.synopsis-reviews .colsmall.row
{
    padding-top:0px;
    margin-top:0px;
}

.synopsis-reviews .colsmall .bigstar img
{
    width:100px;
}
.synopsis-photos .imagedetail
{
    margin-top:1em;
}

.synopsis-photos .imagedetail .pull-left p
{
    font-weight:bold;
    font-size:1.2em;
}
.synopsis-photos .imagedetail .pull-left small
{
    font-weight:normal;
    font-size:0.9em;
}

/**
 * wookmark gal Starts
 */
.tiles-wrap {
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 0px 0;
    padding: 0;
    list-style-type: none;
    display: none;
}
.tiles-wrap li {
    display: block;
    opacity: 1;
    text-align: center;
    list-style-type: none;
    background-color: #fff;
    float: left;
    cursor: pointer;
    /*width: 200px;*/
    padding: 0px;
    /*  border: 1px solid #dedede;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
         -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
      -webkit-border-radius: 2px;
         -moz-border-radius: 2px;
              border-radius: 2px;*/
}
.tiles-wrap.animated li {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    padding: 0px;
}

.tiles-wrap li.wookmark-inactive {
    visibility: hidden;
    opacity: 0;
}

.tiles-wrap li:hover {
    background-color: #fafafa;
}

.tiles-wrap img {
    display: block;
}

.tiles-wrap a {
    color: #555;
    text-align: center;
    /*display: table-cell; */
    /*  width: 200px;
      height: 200px;*/
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}
/*wookmark gal ends*/

/*#################Synopsis Ends##################*/

/*NEWS SECTION STARTS*/
.news-all h2
{
    padding-top:0px;
    font-size:1.3em;
    font-weight:bold;
}
.news-all h2 a
{
    /*color:#444444;*/
}
.news-all .info-text
{
    padding:0.5em 0em;

}
.news-all .info-text span{
    margin-right:5px;
}
.news-all .info-text a{
    margin-left:5px;
}
.news-all .row
{
    padding-bottom:1em;
}
.news-detail article{
    margin-bottom:1em;
}
.news-detail .section-title{
    padding-bottom:0px;
}
.news-detail .border-img
{
    margin-right:2em;
    margin-bottom:1.7em;
    min-width:200px;
    max-width:200px;
}
.comments_and_discussions
{
    margin-top:1em;

}
.comments_and_discussions .fa-facebook-square {
    color: #3b5998;
}
.comments_and_discussions .fa-twitter-square {
    color: #4099FF;
}
.comments_and_discussions  p.title-news {
    font-size: 1.3em;
    font-weight:bold;
    margin-top:0;
    padding-top:0;
}
.comments_and_discussions .alert-comments {
    color: #444444;
    background-color: #f4f4f4;
    border-color: #d8d8d8;
}

.border-img
{
    border: 1px solid #ccc !important;	
}

.border-img:hover
{
    border: 1px solid #2991d8 !important;	
}

.addmoreplus .fa-plus
{
    font-size:2em;
    text-align:center;
    margin-top:1em;
}
.addmoreplus p
{
    font-size:1.8em;
    line-height:1.2em;
    padding-bottom:1.2em;

}
.movies-nowplaying .filters .col-sm-3, .movies-coming-soon .filters .col-sm-3
{
    width:27%;
    padding-right:5px;
    padding-bottom:2px;
}	
.form-control
{
    height:38px;
}
.filters .btn-default
{
    height:38px;
}
.filters .input-group-btn .btn-default
{
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
    color:#ffffff;
}
.filters .input-group-btn .dropdown-toggle.btn-default 
{
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
    background-image: -moz-linear-gradient(top, #ffffff, #f7f7f7);
    background-image: -ms-linear-gradient(top, #ffffff, #f7f7f7);
    background-image: -o-linear-gradient(top, #ffffff, #f7f7f7);
    background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
    border: solid #cccccc 1px;
    color:#444444;
}
.searchiconcolorwhite
{
    color:#ffffff;
}
/*NEWS SECTION ENDS*/




/*Tommy*/
p.leadtext{
    padding-top:10px;
    padding-bottom:20px;
}
.allgenres{
    padding:4px 0px 8px 0px;
}
.center{
    text-align:center;
}
.caret.caret-reversed {
    border-top-width: 0;
    border: 4px solid #444444;
}
.caret.sp{
    left:60% !important;
}

.split-list ul{
    float: left;
    margin-left: 1em;
    list-style-position: inside;
    list-style-type: disc;
}
.split-list li{
    padding-right: 2em;
}
.sub-list{
    width:45%;
}

.theatre_review .rateAddress,.theatre_review .rateTel{
    margin-bottom:0px;
}
.theatre_review .section-title{
    padding-bottom:4px;
}
.grey_text.based{
    margin-top: 7px;
    margin-bottom: 7px;
}
.rateTheatre{
    width:100%;
}
#rateTheTheatre{
    padding:0px 15px;
}
#rateTheatre .caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid #fff !important;
}
.review-box .title{
    margin-bottom:0px;
}
.review-box .date{
    color:#BDBDBD;
}
.theater-ratings{
    list-style:none;
}

.theater-ratings li{
    clear:both;

}
.theater-ratings li span{
    margin-bottom:7px;
}

.showtimes2{
    position:relative;
}
.showtimes2 h2{
    font-size:24px;
    padding-top:10px;
}
.mostRecent{
    position:absolute;
    right:0px;
    top:12px;
}
.review-box {
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    margin: 0;
    padding:10px;
    display:block;
    width: 100%;
}
.review-box:first-child{
    border-top: 1px solid #D3D3D3;
}
.review-box:last-child{
    margin-bottom:20px;
}

p.review{
    margin-top:7px;
}

#showtimeMenu1{
    width:100%;
}
.thankRating{
    display:none;
    color:white !important;
    background:#92d38c;
    border-radius:10px;
    border:0px;
    overflow:hidden;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    min-height:60px;
    margin-bottom:15px;
}
.contests .thankRating,.contact .thankRating{
    display:block;
}
.thankRating div{
    overflow:hidden;
}
.thankRating a{
    color:white !important;
}
.thankRating .fa{
    line-height:60px;
}
.thankRating h3{
    margin-top:5px;
    font-size:1.3em;
    font-weight:bold;
}
.thankRating .thumb{
    width:10%;
    float:left;
    min-height:60px;
    height:100%;
    text-align:center;
}
.thankRating .space{
    width:70%;
    float:left;
}
.thankRating small{
    color:white !important;
}
.thankRating .facebook{
    background:#3b5998;
    min-height:60px;
    overflow:hidden;
    height:100%;
    width:10%;
    float:right;
    text-align:center;
}
.thankRating .twitter{
    width:10%;
    float:right;
    background:#4099FF;
    overflow:hidden;
    min-height:60px;
    height:100%;
    text-align:center;
}
.raticon{

}
#rateMsg,#emailMsg,#agreeMsg{
    display:none;
}
#TermsConsent,#FreebiesOption{
    width: 15px;
    display: inline-block;
}

#terms_and_conditions{

    margin-top:0px;
    padding-top:0px;
}
#terms_and_conditions .modal-body{
    height: 300px;
    overflow-y: scroll;
    overflow-x:hidden;
}
.pnlSearchSuggest,.pnlSearchSuggest2,.pnlSearchSuggest3,.pnlModalSuggest{
    -moz-box-shadow: 1px 1px 5px #415a68;
    -webkit-box-shadow: 1px 1px 5px #415a68;
    -khtml-box-shadow: 1px 1px 5px #415a68;
    box-shadow: 5px 5px 5px #415a68;
    padding-top:0px;
    margin-top:0px;
}
.pnlSearchSuggest{
    display:block;
    position: absolute;
    width: 320px;
    top: 35px;
    right: 35px; 
    z-index: 10;
    background-color: rgb(255, 255, 255); 
    padding:0px
}
.pnlSearchSuggest .panel,.pnlSearchSuggest2 .panel,.pnlSearchSuggest3 .panel{
    margin-bottom:0px;
    border-radius:0px;
}
.pnlSearchSuggest .panel-body,.pnlSearchSuggest2 .panel-body,.pnlSearchSuggest3 .panel-body{
    padding:5px;
    font-weight:bold;
    font-size:12px;
    background:#FBFBFB;
}
.pnlSearchSuggest .genre,.pnlSearchSuggest2 .genre, .pnlSearchSuggest3 .genre{
    display: block;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    left:0px;
    top: -1px;
    font-size:12px;
    color:#BDBDBD;
}
.pnlSearchSuggest .address,.pnlSearchSuggest2 .address,.pnlSearchSuggest3 .address{
    display: block;
    position: relative;
    word-wrap: break-word;
    word-break: break-all;
    left:0px;
    top: -1px;
    font-size:12px;
    color:#BDBDBD;
}
.pnlSearchSuggest li img,.pnlSearchSuggest2 li img,.pnlSearchSuggest3 li img{
    max-height:50px;
    max-width:40px;
}
.pnlSearchSuggest ul,.pnlSearchSuggest2 ul,.pnlSearchSuggest3 ul,.pnlModalSuggest ul{
    list-style:none;
}
.pnlSearchSuggest li ,.pnlSearchSuggest2 li,.pnlSearchSuggest3 li{ background: white;padding:0px;    max-height: 60px;
                                                                   overflow: hidden}


.pnlSearchSuggest li a ,.pnlSearchSuggest2 li a,.pnlSearchSuggest3 li a{ background: white;padding:5px;display:block; ;
                                                                         overflow: hidden;}
.pnlModalSuggest li a{ background: white;padding:10px;display:block; overflow: hidden;}
.pnlSearchSuggest li a:hover span ,.pnlSearchSuggest2 li a:hover span,.pnlSearchSuggest3 li a:hover span{color:white !important}
.pnlSearchSuggest li a:hover ,.pnlSearchSuggest2 li a:hover,.pnlSearchSuggest3 li a:hover,.pnlModalSuggest li a:hover{ background: #2991d8 !important;color:white !important }
.pnlSearchSuggest li:hover ,.pnlSearchSuggest2 li:hover,.pnlSearchSuggest3 li:hover,.pnlModalSuggest li:hover{ background: #2991d8 !important;color:white !important }
.pnlSearchSuggest li:nth-child(odd),.pnlSearchSuggest2 li:nth-child(odd),.pnlSearchSuggest3 li:nth-child(odd) ,.pnlModalSuggest li:nth-child(odd) { background: #f8f8f8; }
.pnlModalSuggest li a{
    color:black;
}
.pnlSearchSuggest2{
    display:block;
    position: absolute;
    width: 320px;
    top: 38px;
    right: 39px; 
    z-index:10;
    background-color: rgb(255, 255, 255); 
    padding:0px
}
.pnlSearchSuggest3,.pnlModalSuggest{
    display:block;
    position: absolute;
    width: 100%;
    top: 33px;
    left: 0px; 
    z-index: 10;
    background-color: rgb(255, 255, 255); 
    padding:0px
}
.pnlModalSuggest .panel{
    margin-bottom:0px;
    border-radius:0px;
}
.pnlModalSuggest .panel-body{
    padding:10px;
    padding-left:10px;
    background:#FAFAFA;
}
.pnlSearchSuggest li  span,.pnlSearchSuggest2 li span,.pnlSearchSuggest3 li  span{

    position:absolute;
    left:50px;
    vertical-align: super;


}
.panel-default.viewall {
    font-weight:bold;
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
    color:white;
}
.panel-default.viewall .panel-body {
    text-align:center;
    background:none;
    line-height:40px;


}
.panel-default.viewall .panel-body a{
    color:white;
}
#searchbar{
    position:relative;

}
#searchbar input{
    min-height:40px;
}
.search-form{
    position:relative;
}
.searchicon{
    margin:5px;
    padding:10px;
}
.searchicon2{
    margin-top:25px;
    padding:10px;
}

.searchicon2 ,.searchicon{
    font-size: 1em;
    color: #fff !important;
    cursor:pointer;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    border:none;
    border-radius:0px;
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
    border:none;
    border-radius:0px;
}
.stylish-input-group button{
    border:0;
    background:transparent;
    border:none;
    border-radius:0px;
}
.reviews{
    list-style:none;

}
.reviews li{
    width:47%;
    display:inline-block;
    clear:both;
}
.reviews li:nth-child(even){
    margin-left:20px;
}
.reviews li p{
    font-weight:bold;
    font-size:14px;
    width:50%;
    display:block;
    float:left;
}

.reviews li .rateit{
    width:50%;
    display:block;
    float:right;


}
.nomargin{
    margin:0px;
}
.allgenres{
    float:left;

    margin-left:-30px;
}
.videonav{
    padding: 4px 0px;
    width: 82%;
    display: inline-block;
    float: left;
}
.videonav .caret{
    margin:7px;
    position: absolute;
    left: 85%;
}
.videonav .divider{
    display:none;
}
.videonav li{
    margin-bottom:7px;
}
.videonav li:hover,.videonav li:hover a,.videonav li a:hover,.videonav li.active{
    color:white !important;
    background:#2991d8 !important;
}
.videonav li a{
    padding:7px 2px;
}


.movie-info h2{
    margin-top:0px;
    padding-top:0px;
    padding-bottom:5px !important;
    color:#2991d8 !important;
}
.movie-info span{
    color:#2991d8 !important;
    font-size:14px !important;
}
.movie-info p{
    margin-bottom:2px !important;
}
.movie-info img{
    padding-bottom:10px;
}
.moviethumbnails .movie-meta{
    /*height:40px;*/
    overflow:hidden;
}
.moviethumbnails .movie-title{
    font-size:14px;
}
.moviethumbnails li{
    margin-bottom:10px !important;
}

.moviethumbnails figure{
    overflow:hidden;
    max-width:200px;
    margin:0px auto;
}
.btn-mshare{
    margin-right:5px;
    background:#F1A116;
    color:white;
    font-weight:bold;
    background: #ffaf4b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

}
.btn-membed{

    color:white;
    font-weight:bold;
    background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,0.93) 36%, rgba(40,52,59,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,0.93) 36%,rgba(40,52,59,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,0.93) 36%,rgba(40,52,59,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#cc28343b',GradientType=0 ); /* IE6-9 */

}
.btn-mshare:hover,.btn-membed:hover{
    color:white !important;
}
.modal.error .modal-header{
    background:#CD3D32;
    text-align:center;
}
.modal.thin .modal-body{
    padding:20px;
}

.modal-title.start{
    text-align:center;
}
.modal-body .load{
    display:block;
    margin:0px auto;
}
.modal-body span.error{
    color:#CD3D32;
    display:block;
    margin-top:10px;
}
.modal-body .btn-cancel{
    color:white;
    font-weight:bold;
    background: rgb(206,220,231); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

}
.modal-body p.error{
    text-align:center;
    padding-bottom:20px;
}
.modal-body p.error a{
    color:#CD3D32;
    text-decoration:underline;
}
.modal-header .close{
    width: 40px;
    height: 40px;
    background: black;
    opacity: 1;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    top: -20px;
    right: -20px;
    line-height: 36px;
}

.modal-body .btn-searcher{
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
    color:white !important;
}
.modal-body .btn-searcher .glyphicon-search{
    color:white !important;
}
.btn-map{
    color: #FFFFFF;
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
    font-weight:bold;

}
.col-md-8.search-results-list.trailers_videos ul li {
    color:#BDBDBD;
}

.tsearch-title{
    padding:5px 0px;
}
.ticketcities ul{
    list-style-position: inside;
    padding-left:0;
    margin-bottom:15px;
}
.fivelist{
    list-style-position: inside;
}
.ticketcities h1{
    font-size:20px;
}
.ticketcities h1 a{
    color:black !important;
    text-decoration:none;
}
.movies .play, .movies_g .play {
    background: url('../images/button.png') center center no-repeat;
    background-size:cover !important;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -80px 0 0 -44px;
    cursor: pointer;

  opacity: 0.5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.find_my_location button
{
    width:100%;
    height:38px;
}
/*.container .col-md-8.fadeInRight
{
        top:-50px;
}*/

.slick-slide {
    margin: 0 5px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -5px;
  }
.slickwrapper,.slickwrapper2{
    position:relative;
    width:100%;
}
.controls.homepage
{
    position:relative;
    
    top:-160px;
}
.slickwrapper .controls.homepage
{
    position:relative;
    
    top:-140px;
} 
#myCarousel1 .controls.homepage{

    top:-170px;
}

.container.inside.home_carousel
{
    background-color:#F3F5F6;
}
.controls.homepage .fa.fa-angle-left, .controls.homepage .fa.fa-angle-right
{
    font-size:30px;
    padding:0.5em 0.4em;
    margin:0 5px;
    background-color:#000;
    opacity: 0.8;
    color:#ffffff;
}
.controls.homepage .fa.fa-angle-left
{
    border-top-right-radius:2em;
    border-bottom-right-radius:2em; 
}
.controls.homepage .fa.fa-angle-right
{
    border-top-left-radius:2em;
    border-bottom-left-radius:2em; 
}

.col-md-8.homepage h1
{
    font-weight:normal;
    font-size:1.7em;
}



.findlocation .btn.btn-map
{
    width:100% !important;
}
.addgroups1
{
    margin-top:1em;
}

.addgroups2
{
    margin-top:1em; margin-bottom:1em;
}

.home_new_this_week h1
{
    margin-top:1em;
    padding-bottom:5px;

}
.home_new_this_week
{
    margin-bottom:1em;

}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}


#homeCarousel .item{
    overflow-y:visible;
}
#homeCarousel .carousel-inner{
    position:relative;
}
#homeCarousel .carousel-inner span{
    background:black;
    display:block;
}
#homeCarousel .carousel-inner .caption{
    display:block;
    padding:0px !important;
    position:absolute;
    bottom:0px;
    height:20%;
    background:black;
    width:100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
#homeCarousel .carousel-inner h2{
    position:relative;
    color:white;
    font-size:18px;
    font-weight:bold;
    padding-top: 10px;
    padding-left:20px;
    padding-bottom:0px;
}
#homeCarousel .carousel-inner h2 a{
    color:white;
}
#homeCarousel .carousel-inner h2 a:hover{
    color:#d2d2d2;
}
#homeCarousel .carousel-inner p{
    position:relative;
    color:white;
    font-size:16px;

    padding-left:25px;
    padding-top:0px;
}

#homeCarousel .carousel-inner .caption ul{
    list-style:none;
    margin:0px;
    padding-left:20px;
}
#homeCarousel .carousel-inner .caption ul li{
    display:inline-block;

}
#homeCarousel .carousel-inner .caption ul li a{
    color:white;
    border-right: solid 1px #fff;
    margin-right:10px;
    padding-right:10px;
}
#homeCarousel .carousel-inner .caption ul li:last-child a{
    color:white;
    border-right:none;
    margin-right:10px;
    padding-right:10px;
}
#homeCarousel .carousel-inner .caption ul li a:hover{
    color:#d2d2d2;;
}

#homeCarousel .carousel-control.left .fa-angle-left{
    font-size: 30px;
    padding: 0.5em 0.4em;
    margin: 0 5px;
    background-color: #000;
    opacity: 0.8;
    color: #ffffff;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
#homeCarousel .carousel-control.left{
    margin-left:0px;
    width:auto;
    top:45%;
    top:-webkit-calc(50% - 30px);
    top:-moz-calc(50% - 30px);
    top:calc(50% - 30px);
    top:120px;
}
#homeCarousel .carousel-control.right{
    padding-right:8px;
    width:auto;
    top:45%;
    top:-webkit-calc(50% - 30px);
    top:-moz-calc(50% - 30px);
    top:calc(50% - 30px);
    top:120px;
}
#homeCarousel .carousel-control.right .fa-angle-right
{
    font-size: 30px;
    padding: 0.5em 0.4em;
    margin: 0px;
    background-color: #000;
    opacity: 0.8;
    color: #ffffff;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;

}
.carousel_slider_home
{
    border: 1px solid #D3D3D3;
    overflow:hidden;
    text-align: -webkit-center;
}


.homepage .carousel
{
    left:-5px;	
}
.carousel{
    overflow-y:visible;
}

#carousel-bounding-box{
    padding:0px;
    width: 102%;
}
.selected img {
    opacity:0.5;
}
.selected img:after{
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;

    border-top: 20px solid #f00;
    left:50%;
}
#slider-thumbs{
    padding:10px;
    margin:0px auto;
    text-align:center;
}
#slider-thumbs ul{
    display: table;
    width: 100%;
    list-style: none;
    margin:0px auto;
}
#slider-thumbs li{
    display: table-cell;
    text-align: center;
    width:25%;
    padding:0px 5px;
    margin:0px;
}

.item div{
    position:relative;
    padding:0 5px;
}
.caption{
    position:absolute;
    text-align: left;
    bottom:0px;
    margin-top:10px;
}
.caption p
{
    clear:both;
    margin-left:-5px;
    padding-top:4px;
    font-size:13px;
}
.caption .ratings-icons-stars img
{
    margin-left:-16px;
}
.caption small
{
    clear:both;
    margin-left:-5px;
    font-size: 11px;
    opacity: 0.6;
    font-weight:bold;
}
.caption .mpaa
{
    margin-right:-8px;
}

.controls{
    position:relative;
    top:50px;
}
.controls a{
    top: -50px;
    position: absolute;
    color:#BDBDBD;
}
.controls .right{
    position: absolute;
    right:0%;
}
.carousel-indicators li{
    border:2px solid #BDBDBD;
    border-color:#BDBDBD;
    background:#BDBDBD;
}
.carousel-indicators li.active{
    background:#2991d8;;
    border:2px solid #2991d8;;
}
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
.carousel-end
{
    margin-bottom:2em;

}
nav.navbar-default{
    z-index:16777260;
}
.modal{
    z-index:16777271;
}
#btnSubmReview{
    margin-bottom: 10px;

}
.searchMarker{

    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}

#find-location,#rateMovie,#btnSubmReview,#rateTheatre,#btnSubmReview,.homefoot-module figcaption button,.searchMarker,.contestsbutton,.skilltesting,.btn-default.btn-searcher{
    font-weight:bold;
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
    color:white;
}

#rateMovie .consent small,#ratetheatre .consent small,#ratemovie .consent small{
    display:block;
    font-style: italic;
    padding-left:20px;
}
.consent a {
    cursor:pointer;
}
#rateTheTheatre h3{
    font-size:26px;
}
#rateTheMovie h3,#ReviewEmail,#rateTheTheatre h3{
    margin-bottom: 10px !important;
}
#rateTheMovie select{
    width:60%;
    margin-bottom: 10px;
}
#rateTheMovie input[type="radio"] {
    display: none;
}
#rateTheMovie input[type="radio"] + div {
    height: 20px;
    width: 20px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: #FFF;
    border: 1px solid #d2d2d2;
    border-radius: 100%;
} 

#rateTheMovie   input[type="radio"] + div:hover {
    border-color: #c2c2c2;
}
#rateTheMovie   input[type="radio"]:checked + div {
    background:gray;
}
#ratetheatre label{
    font-weight:bold;
    margin-top:15px;
    margin-bottom: 5px;
    font-size:16px;
}
#rateTheTheatre .consent label{
    font-size:14px;
    font-weight:normal;
    margin-top: 5px;
    margin-bottom: 0px;
}
.ratetheatre p{
    margin-bottom:0px;
}
.ratetheatre .rateit{
    margin-bottom: 10px;
}
h2.lg{
    padding-top: 20px;
    font-size: 1.8em;
    font-weight: normal;
    padding-bottom:5px;
}
.ratings-icons-stars.bigstar img
{
    width:70px;
}

.theatre_review .ratings-icons-stars.bigstar img
{
    width:100px;
}


.videonav>li.active>a, .videonav>li.active>a:focus, .videonav>li.active>a:hover {
    color: #fff;
    font-weight:bold;
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
}
.videonav .nav-pills li a{
    cursor:pointer !important;
}
.videonav li  a:hover{
    text-decoration: none;
    background-color: #fff;

}
.videonav .dropdown-menu>.active>a,.videonav .dropdown-menu>.active>a:focus,.videonav .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #2991d8;
}

.videonav .nav-pills li{
    border-radius:4px;
}
.videonav .nav-pills li.active,.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    border-radius:4px;
    background: #2991d8 !important;
}
.starbox{
    color:#FFFFFF;  background-color:#2991d8;
}
.hideformobile.findshowtimes .fa{
    font-size: 24px;
    padding-right: 3px;
    float: left;
}
#showtimeMovieMenu{
    width:100%;
}
.sex{
    margin-top: 7px;
}
.sex .female{
    padding-left: 10px;
}
.filters .input-group-addon{
    padding: 0px;
    width: 20%;
}
.filters .input-group-addon select{
    height: 100%;
    width: 100%;
    border: none;
    font-size:14px;
    /*
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-position: 65px -822px;
    */

}
.filters .input-group-addon select option:hover{
    display:block;
    padding:5px;
    background:#2991d8;
}
.side_ad img
{
    width:100%;
    max-width:300px;
    border: 1px solid #d8d8d8;

}
.homefoot-module{
    margin:20px 0px;
}
.homefoot-module .col-sm-6:nth-child(2){
    border-left:1px solid #d8d8d8;
}
.homefoot-module figure{
    width:280px;
    margin:0px auto;
}
.homefoot-module figure{
    float:left;
}
.homefoot-module figure.gossip{
    float:right;
}
.homefoot-module h3{
    font-size:24px;
}
.homefoot-module h3,.homefoot-module .more{
    display:block;
    text-align:center;
    padding:0px;
    margin-bottom:10px;
    margin-top:0px;
}
.homefoot-module figcaption{
    background: #F3F4F6;
    padding:20px;

}
.homefoot-module figcaption a{
    font-weight:bold;
}
.homefoot-module figcaption p{
    font-size: 12px;
    padding-top:7px;
    padding-bottom:7px;

}
.homefoot-module figcaption span{
    color:#92979A;
    font-weight:bold;
}
.homefoot-module figcaption button{
    display:block;
    margin:15px auto;
    color:white;
}
.movie_exhibitor .section-title{
    padding-bottom:0px;
    margin-bottom:0px;
}
.exhibit-table{
    width:100%;
}
.exhibit-table tr.lead td{
    padding-top: 15px;
    font-size:14px;
}
.exhibit-table td{
    width:10%;
}
.exhibit-table td+td{
    width:30%;
}
.exhibit-table td+td+td{
    width:60%;
}
.page404 h1{
    margin-top:30px;
}
.page404 p{
    padding:0px 30px 30px 20px;
}
.logo404{
    display:block;
    font-size:48px;
}
.logo404 .logo-font-bold{
    color:#007FDC;
    font-weight:bold;
}

.nearby_theatres section{
    padding:20px;
    margin-bottom:20px;
    background-color: #f8f8f8;
}
.nearby_theatres h1{
    padding-bottom:0.5em;
}
.nearby_theatres .split-list,.nearby_theatres .sub-list{
    list-style:none;
}
.nearby_theatres .split-list li,.nearby_theatres .sub-list li{
    margin-bottom:20px;
}
.showtooltip.active{
    background-color:#3494d7 !important;
    color:white !important;
}
#subrefine-search{
    /*margin-top:5px;*/
}
#subrefine-search .btn-group{
    width:100%;
}
#subrefine-search .btn-group .btn{
    width:50%;
}
/********** SEARCH RESULTS PAGES CARRIE**********/
.search-results-list .celebrities .media-body.middle p,.search-results-list .news .media-body.middle p{
    margin-bottom:0px;
}
.search-results-list .date-filter .col-sm-4 {
    background-color:#1F95ED;
    width:100%;
}
.search-results-list .filters .col-sm-4 {
    padding-left: 2px;
    padding-top: 0px;
    padding-right: 4px;
    display: inline-block;
}
.search-results-list .map-marker {
    font-size:2em;
    color:#2991d8;
}
.search-results-list .filters {
    width: 100%;
    background-color: #f4f4f4;
    padding: 5px;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
}
.search-results-list .nav-tabs .nav-justified {
    margin-left: 77px;
}

.search-results-list {
    padding-bottom: 33px;
}
.search-results-list .nav {
    margin-left: 0px;
}
.search-results-list .filters .caret {
    position: absolute;
    left: 60%;
    top: 45%;
}
.search-results-list .allresults .movie-titles{
    margin-bottom: 0px;
}
.search-results-list .allresults ul {
    display: inline-block;
    list-style: outside none none;
}
.search-results-list .searchglass {
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
    color:#FFFFFF;
    width: 3em;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    margin: 0px;
}
.search-results-list h2  {
    color:#2e3638;
    font-size:1.3em;
    padding-bottom: .50em;
}
.search-results-list h5 a {
    font-weight:400;
    color:#2991d8;
    font-size:1.1em;
}
.search-results-list span {
    font-size:.95em;
    font-weight:400;
    color:#9d9d9d;
}
.search-results-list span a {
    font-size:1em;
    font-weight:400;
    color:#2991d8;
}
.search-results-list .movie-titles a {
    font-weight:400;
    font-size:1.3em;
    padding-bottom: 0em;
}
.search-results-list .view-all {
    font-size:.88em;
    font-weight:400;
    color:#2991d8;
    font-weight: bold;
    padding-bottom: 1.88em;
    padding-top: 1em;
}
.search-results-list .input-group {
    position: initial;
    display: table;
    border-collapse: separate;
}
.search-results-list .input-group .form-control {
    position: initial;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.search-results-list .input-group-btn > .btn {
    position: initial;
}
.search-results-list .find-location  {
    width: auto;
    display: inline-block;
    padding: 3px 8px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight:bold;
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
}
.search-results-list .find-location:hover {
    width: auto;
    display: inline-block;
    padding: 3px 8px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color:#FFFFFF;
    font-weight:bold;
    background: #00a8d1;
    background-image: -webkit-linear-gradient(top, #00a8d1, #0080da);
    background-image: -moz-linear-gradient(top, #00a8d1, #0080da);
    background-image: -ms-linear-gradient(top, #00a8d1, #0080da);
    background-image: -o-linear-gradient(top, #00a8d1, #0080da);
    background-image: linear-gradient(to bottom, #00a8d1, #0080da);
    border: solid #2897e4 1px;
}

.search-results-list .theaters ul {
    display: inline-block;
    list-style: outside none none;
}
.search-results-list .theaters ul li {
    padding-bottom:1em;
}
.line-separator-grey {
    height:1px;
    background:#e7e8e9;
    border-bottom:1px solid #e7e8e9;
}
.search-results-list .middle {
    vertical-align:middle;
}
.search-results-list .padding-bottom-1em {
    padding-bottom:1em;
}
.search-results-list .input-group-btn .dropdown-toggle
{
    width: 6.9em;
    border-radius: 0px;
}
.search-results-list .input-group-btn .searchglass
{

}
.search-results-list .find-location
{
    background: #3498DB none repeat scroll 0% 0%;
    color: #FFF;
}
#contactForm label{
    font-weight:bold;
}
#contactForm input,#contactForm textarea,#contactForm img{
    margin-bottom:1em;
}
/********** END SEARCH RESULTS PAGES **********/

/*Top Box Office Table Styles*/
.top_box_office h1
{
    padding-bottom:0px;

}
.top_box_office p
{
    padding-bottom:1em;
    padding-top:0.5em;
}
table.boxlist{
    margin-bottom:12px;    
}

.boxlist tr.headline{
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;  
}
.boxlist tr{
    /*margin-bottom:5px; */   
}
.boxlist tr.second{
}
.boxlist th{
    font-weight:bold;
    text-align:left;
}
.boxlist td, .boxlist th{
    padding:4px 3px 8px 3px;
    min-width:25px;
}
.boxlist tr:nth-child(even) {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

aside .btn.btn-map
{
    width:100%;
    margin-bottom:0.5em;

}
.hidealldevices
{
    display:none;
    visibility:hidden;
}

.error_message
{
    text-align:left;
    font-size:1.4em;
    font-weight:bold;
    padding-top:0px;
    padding-bottom:0.8em;
}
.error_message_st
{
    padding-top:1em;
}
.enable-geo-location img
{
    padding-bottom:1.5em;
    padding-top:0.5em;
}
.enable-geo-location img
{
    padding-bottom:1.5em;
    padding-top:0.5em;
}
.privacy-policy p
{
    margin: 0 0 10px;
}



.slickwrapper .captione,.slickwrapper2 .captione{
    position:relative !important;
    display:block;
    padding-top:7px;

}
.slick-slide .captione .float-left{
    display:inline-block;
}
.slick-slide .captione p{
    clear:both;
}
.slick-slide .captione .mpaa{
    margin-top:-3px;
    
    float:right !important;
}
.slick-slide .captione small,
.slick-slide .captione p,
.slick-slide .captione .ratings-icons{
    margin:0px !important;

}
.slick-slide .captione .ratings-icons{

padding-left:0px;
margin-left:0px;
left:0px;
}
.slickwrapper .captione .ratings-icons,.slickwrapper2 .captione .ratings-icons{
    display:block;
}

/*SLICK CAROUSEL*/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#grid[data-columns]::before {
	content: '3 .column.size-1of3';
}
#grid li{
    margin-bottom:1em;
}
/* These are the classes that are going to be applied: */
.column { float: left;  }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }